# Compiled object files and libraries
*.o
*.so
*.a
*.lib

# Executable files
*.exe
*.out
*.dll

# Debug files
*.dSYM/
*.pdb

# Compiled Static libraries
*.lai
*.la
*.a
*.lo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Java classes
*.class

# Python cache
__pycache__/
*.py[cod]

# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
compile_commands.json

# Build directories
code/assignments/build/
code/tasks/build/

# Eclipse project files
.project
.cproject
.settings/

# Visual Studio Code project files
.vscode/

# JetBrains IDEs (e.g., IntelliJ, PyCharm)
.idea/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
Desktop.ini

# Backup files
*~
*.bak
*.swp
*.tmp

# Other files to ignore
tags
*.log
*.csv
*.dat
*.pid
*.seed
*.swo
*.tar.gz
*.zip

# Add here any other file types specific to your project
